*,
*::before,
*::after {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

.container {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 5px;
    
}

.header {
    width: 100%;
    height: 64px;
    margin-bottom: 22px;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.6);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    
}

.header-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    
    
}

.header-logo img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    
}

.header-logo h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    
}

.header-title {
    display: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.header-menu {
    display: none;
    width: 40px;
}

.header-menu span {
    display: block;
    width: 23px;
    height: 1.5px;
    margin-left: auto;
    background-color: #0085FF;
    transition: all .3s ease-in-out;
}

.header-menu span:first-child {
    width: 27px;
    margin-bottom: 5px;
}

.header-menu span:last-child {
    width: 20px;
    margin-top: 5px;
    height: 1.5px;
}

.header-menu.active span:nth-child(2) {
    opacity: 0;
}

.header-menu.active span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
}

.header-menu.active span:last-child {
    width: 27px;
    transform: rotate(-45deg) translate(5px, -4.5px);
}

.mobile-menu {
    position: fixed;
    left: 0;
    top: 52.99px;
    display: none;
    width: 100%;
    height: calc(100vh - 52.99px);
    padding: 30px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 10;
}

.mobile-menu.active {
    display: block;
}

.mobile-menu__ul {
    list-style-type: none;
}

.mobile-menu__ul li {
    margin-bottom: 20px;
}

.mobile-menu__ul li:last-child {
    margin-bottom: 0;
}

.mobile-menu__ul a {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
}

.main {
    flex: 1 0 auto;
    background-color: #000000;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 123px;
    
}

.main-content__nav {
    width: 274px;
    padding-top: 72px;
}

.main-content__menu {
    list-style-type: none;
}

.main-content-menu__item {
    margin-bottom: 16px;
}

.main-content-menu__item:last-child {
    margin-bottom: 0;
}

.main-content-menu__item a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
}

.main-content-menu__item img {
    width: 18px;
    height: auto;
    margin: 0 13px 5px 0;
}

.main-content__centers {
    width: 100%;
    max-width: 1000px;
    
}

.main-content__title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color:#ffffff
}

.shopping-centers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px 5px;
}

.shopping-center {
    display: flex;
    align-items: flex-start;
    width: 49%;
    height: 166px;
    margin-bottom: 25px;
    padding: 10px;
    border: 0.7px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

.shopping-center:nth-child(odd) {
    margin-right: 10px;
}

.shopping-center__img {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 180px;
    max-width: 180px;
    height: 145px;
    margin-right: 20px;
}

.shopping-center__img::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
    width: 1px;
    height: 145px;
    background-color: rgba(255, 255, 255, 0.6);
}

.shopping-center__img img {
    width: auto;
    max-width: 100%;
    height: 100%;
    border-radius: 12px;
}

.shopping-center__content {
    width: 100%;
}

.shopping-center__title {
    height: 40px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color:#ffffff
}

.shopping-center__descr {
    height: 55px;
    margin-bottom: 3px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.65);
}

.shopping-center__btn {
    position: relative;
    display: block;
    width: 115px;
    height: 35px;
    margin-left: auto;
    padding-right: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    background-color: transparent;
    border: 0.7px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    color:#ffffff
}

.shopping-center__btn img {
    content: '';
    position: absolute;
    right: 18px;
    top: 50%;
    width: 7px;
    height: 11.81px;
    transform: translateY(-50%);
}

.footer {
    height: 259px;
    background-color: #ffffff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
    padding-top: 44px;
    color: #000000;
}

.footer-content__logo {
    width: 180px;
}

.footer-content__link {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-content__descr {
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
}

.footer-content__links {
    padding-top: 67px;
}

.footer-content__links a {
    margin-right: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
}

.footer-content__links a:last-child {
    margin-right: 0;
}

.footer-content__social-links {
    width: 180px;
    padding-top: 67px;
    
}

.footer-content__social-links a {
    margin-right: 36px;
    text-decoration: none;
}

.footer-content__social-links a:last-child {
    margin-right: 0;
}

.footer-content__social-links img {
    height: 16.67px;
    width: auto;
    background-color: #000000;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #C1B5FC;
}

.footer-copyright img {
    width: 13.33px;
    height: 13.33px;
    margin-right: 5.33px;
}



.food-points {
    height: 300px;
    overflow-y: scroll;
}

.food-points::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

.food-points::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.food-points h3 {
    padding-top: 40px;
    font-size: 16px;
    text-align: center;
}

.food-point {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 5px;
    padding: 3px;
    color: #323339;
    border: 1px solid #ffffff60;
    transition: all .1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.food-point:last-child {
    margin-bottom: 0;
}

.food-point:hover {
    background-color: rgb(0, 0, 0);
}

.food-point__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.food-point__img img {
    width: 100%;
    max-height: 100%;
}

.food-point__title {
    font-size: 18px;
    line-height: 34px;
}

/* products */

.main-content__products {
    width: 100%;
    max-width: 1000px;
}

.main-content__address {
    margin-bottom: 8px;
    padding-left: 17px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.65);
}

.products {
    padding: 0 10px 5px;
}

.product-item {
    display: flex;
    width: 100%;
    max-width: 812px;
    height: 80px;
    margin-bottom: 20px;
    padding: 7px 28px 7px 7px;
    border: 0.7px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

.product-item:last-child {
    margin-bottom: 0;
}

.product-item__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 67px;
    margin-right: 26px;
}

.product-item__img::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 0;
    width: 1px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.6);
}

.product-item__img img {
    width: auto;
    max-width: 100%;
    height: 100%;
    border-radius: 12px;
}

.product-item__text {
    display: flex;
    flex-direction: column;
}

.product-item__title {
    margin: 4px 0 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
}

.aviable-title {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.65);
}

.product-item__price {
    display: block;
    margin: 14px 0 0 auto;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #048521;
}

/* 404.php */

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.not-found h1 {
    font-size: 30px;
}

.not-found h1 a {
    color: #383EF2;
}

